<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Check rate of turf</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/turf.css') }}">
</head>
<body>
<form action="/rate" style="width:40vw;height:50vh;background-color: white;text-align:center;color: black;margin-left: 30vw;margin-top: 25vh;text-align: center;" method="POST">
<div class="" style="width:40vw;text-align:center">
<h1>Check rates of turfs</h1>
    <input type="text" class="" style="width: 40vw;" value="" placeholder="Enter the turf rate you want to know" name="loc">
<input type="submit"  style="width: 40vw;" name="submit_button" value="Click here for price" class="button">
</div>
</form>
</body>
</html>